.nav-carousel {
    padding: 20px;
    text-align: center;
}
.nav-carousel-items div {
    background-color: #222;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
}
.nav-carousel-items div:hover {
    background-color: #F82360;
    color: #222;
    transform: scale(1.1);
}
@media screen and (min-width: 800px) {
    .nav-carousel-items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}
@media screen and (max-width: 800px) {
    .nav-carousel-items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}
@media screen and (max-width: 600px) {
    .nav-carousel-items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
/***START - CAROUSEL STYLE***/
.carousel {
    text-align: center;
    text-decoration: none;
}
.carousel-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-title {
    display: grid;
    grid-template-columns: 1fr 6fr ;
    background-color: lightgray;
    align-items: center;
    text-align: left;
}
.carousel-title img {
    background-color: #F82360;
    height: 40px;
    padding: 5px;
}
@media screen and (max-width: 800px) {
    .carousel-title h3 {
        font-size: 15px;
    }
    .carousel-title img {
        height: 30px;
    }
}
@media screen and (min-width: 800px) {
    .triangle {
        width: 100px;
        height: 0;
        border-bottom: 40px solid #F82360;
        border-right: 40px solid transparent;
    }
}
@media screen and (max-width: 800px) {
    .triangle {
        width: 80px;
        height: 0;
        border-bottom: 30px solid #F82360;
        border-right: 30px solid transparent;
    }
}
.card-title {
    margin: 10px;
}
.card-content {
    box-shadow: -5px 5px 15px 5px rgba(000, 000, 000, 0.5);
    border-radius: 20px;
    background-color: lightgray;
}
@media screen and (min-width: 800px) {
    .card-content {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    .card-content {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
}
.card-img {
    height: auto;
    max-width: 100%;
}
@media screen and (min-width: 800px) {
    .card-img {
        border-radius: 20px 0 0 20px;
    }
}
@media screen and (max-width: 800px) {
    .card-img {
        border-radius: 10px 10px 0 0;
    }
}
.card-info {
    background-color: lightgray;
    color: #222;
    text-align: center;
    line-height: 25px;
    padding: 30px 10px 10px 10px;
}
@media screen and (min-width: 800px) {
    .card-info {
        height: auto;
        width: 200px;
        border-radius: 0 20px 20px 0;
    }
}
@media screen and (max-width: 800px) {
    .card-info {
        height: 100px;
        width: auto;
        border-radius: 0 0 10px 10px;
        padding: 10px;
    }
}
@media screen and (max-width: 600px) {
    .card-info {
        height: 120px;
    }
}
@media screen and (max-width: 400px) {
    .card-info {
        height: 140px;
    }
}
.buttons {
    width: 0;
    height: 0;
    margin: 20px;
}
.button-prev {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #222;
}
.button-next {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #222;
}
.buttons:hover {
    transform: scale(1.2);
}
.button-prev:hover {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #F82360;
}
.button-next:hover {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #F82360;
}
.carousel-positions {
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
}
.carousel-position {
    background-color: #222;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
@media screen and (max-width: 1150px){
    .buttons {
        transform: scale(0.9);
    }
    .buttons:hover {
        transform: scale(1.0);
    }
    .carousel-positions {
        margin: 20px;
    }
    .carousel-position {
        width: 26px;
        height: 26px;
        border-radius: 13px;
    }
}
@media screen and (max-width: 800px){
    .buttons {
        transform: scale(0.8);
    }
    .buttons:hover {
        transform: scale(0.9);
    }
    .carousel-positions {
        margin: 15px;
    }
    .carousel-position {
        width: 22px;
        height: 22px;
        border-radius: 11px;
    }
}
@media screen and (max-width: 600px){
    .buttons {
        transform: scale(0.7);
    }
    .buttons:hover {
        transform: scale(0.8);
    }
    .carousel-positions {
        margin: 10px;
    }
    .carousel-position {
        width: 18px;
        height: 18px;
        border-radius: 9px;
    }
}
@media screen and (max-width: 400px){
    .buttons {
        transform: scale(0.6);
    }
    .buttons:hover {
        transform: scale(0.7);
    }
    .carousel-positions {
        margin: 5px;
    }
    .carousel-position {
        width: 14px;
        height: 14px;
        border-radius: 7px;
    }
}
/***END - CAROUSEL STYLE***/