/***START - CAROUSEL STYLE***/
.carousel {
    text-align: center;
    text-decoration: none;
}
.carousel-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-title {
    margin: 10px;
}
.card-title {
    margin: 10px;
}
.card-content {
    position: relative;
    box-shadow: -5px 5px 15px 5px rgba(000, 000, 000, 0.5);
}
.card-content img {
    height: auto;
    max-width: 100%;
}
.card-content p {
    bottom: 0;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    position: absolute;
}
.buttons {
    width: 0;
    height: 0;
    margin: 20px;
}
#button-prev {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #E2B731;
}
#button-next {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #E2B731;
}
.buttons:hover {
    transform: scale(1.1);
}
.carousel-positions {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.carousel-position {
    margin: 0 50px;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    background-color: lightgrey;
}
/***END - CAROUSEL STYLE***/