* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: #222;
    padding: 5px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    }

.menu li {
    font-size: 16px;
    padding: 10px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 22px;
}

/* Menu mobile */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}

.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}
.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}
.bars {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::after,
.bars::before {
    background: white;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}
.bars::after {
    top: -5px;
}
img {
    flex-direction: row-reverse;
    border-radius: 10px;
    width: 3em;

}
/* Menu Burger*/

@media screen and (min-width: 630px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .bars {
        text-align: center;
    }
    /*a:hover{
        background: violet;
        border-color: #005959;
        
    }*/
    .item {
        display: block;
        width: auto;
    }
    .bars {
        display: none;
    }
    .logo {
        order: 1;
    }
    .item {
        order: 1;
    }
    .menu li {
        padding: 15px 10px;
    }
}
