main p {
    line-height: 1.3em;
}

.imgFrontBack {
    width: 10rem;
}

#imgFront {
    margin-top: 1rem;
    width: 25rem;
    
}

section {
    text-align: center;
    margin-top: 1rem;  
}

h1 {
    font-size: 5rem;
    margin: 1rem;
}

/*sommaire*/
.nav-carousel {
    padding: 20px;
    text-align: center;
}
.nav-carousel-items div {
    background-color: #222;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
}
.nav-carousel-items div:hover {
    background-color: #E2B731;
    color: #222;
    transform: scale(1.1);
}
@media screen and (min-width: 800px) {
    .nav-carousel-items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .langage {
        display: grid;
        grid-template-rows : 1fr;
        grid-template-columns: 1fr 4fr;
        gap: 20px;
    }
}
@media screen and (max-width: 800px) {
    .nav-carousel-items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}
@media screen and (max-width: 600px) {
    .nav-carousel-items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    h1 {
        font-size: 4rem;
    }
}

/*enlever couleur quand lien est cliqué*/
a {
    text-decoration: none;
    color : white;
}

a:hover {
    color : black;
}

p {
    text-align: justify;
    margin: 5px;
}



