/*Nav Sommaire*/
.navSommaire {
  padding: 20px;
  text-align: center;
}
.navSommaire h2 {
  margin: 0 0 30px 0;
  font-size: 3vw;
}
.navSommaireItems div a{
  color: white;
  text-decoration: none;
}
.navSommaireItems div {
  background-color: #222;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  color: white;
  line-height: 30px;
}
.navSommaireItems div:hover {
  background-color: #E2B731;
  color: #222;
  transform: scale(1.1);
}

@media screen and (min-width: 800px) {
  .navSommaireItems {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .navSommaireItems {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .navSommaireItems {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }
}
#description {
  margin: 30px 0 0 0;
}
/*Grid Part*/
  .grid{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 3.5vw;
    margin: 0px 0 25px 0;
  }
  #logoHtml {
    background: url(media/logo-html.png) no-repeat;
    background-size: contain;
    background-position: right;
  }
  #title {
    display: flex;
  }
  @media screen and (max-width: 1150px){
    .grid{
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 3.5vw;
      margin: 110px 0 0 0;
  }
  }
  @media screen and (max-width: 850px){
    .grid{
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 3.5vw;
      margin: 100px 0 0 0;
  }
  }
  @media screen and (max-width: 600px){
    .grid{
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 3.5vw;
      margin: 50px 0 0 0;
    }
  }
  /*Intro Part*/
  .artIntro h2{
    font-size: 3vw;
    padding: 10px 0;
  }
  .artIntro p {
    text-indent: 3%;
    margin: 10px 0;
    font-size: 1.3vw;
    text-align: justify;
  }
  .artIntro p:nth-last-of-type(1){
    text-indent: 0%;
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
}
/*First Contenu*/

main h2{
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}
main h2 img {
  margin: 0 20px 0 0;
}
main ul li a{
  text-decoration: none;
  color: #E2B731;
}

