main p{
  line-height: 1.3em;
}
/*Nav Sommaire*/
.navSommaire {
  padding: 20px;
  text-align: center;
}
.navSommaire h2 {
  margin: 0 0 30px 0;
  font-size: 3vw;
}
.navSommaireItems div a{
  color: white;
  text-decoration: none;
}
.navSommaireItems div {
  background-color: #222;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  color: white;
  line-height: 30px;
}
.navSommaireItems div:hover {
  background-color: #E2B731;
  transform: scale(1.1);
}

@media screen and (min-width: 800px) {
  .navSommaireItems {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .navSommaireItems {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .navSommaireItems {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }
}
#description {
  margin: 30px 0 0 0;
}
/*Grid Part*/
  .grid{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 3.5vw;
    margin: 0px 0 25px 0;
  }
  #logoHtml {
    background: url(media/logo-html.png) no-repeat;
    background-size: contain;
    background-position: right;
  }

  #logoPhp {
    display: flex;
    background: url(media/php.png) no-repeat;
    background-size: contain;
    background-position: right;
    align-content: center;
  }

  #calageLogoTitre {
    margin-left: 6rem;
  }

  #logoPython {
    display: flex;
    background: url(media/pythonLogo.svg.png) no-repeat;
    background-size: contain;
    background-position: right;
    align-content: center;
  }
  #logoRuby {
    display: flex;
    background: url(media/ruby.png) no-repeat;
    background-size: contain;
    background-position: right;
    align-content: center;
  }

  #logoJava {
    display: flex;
    background: url(media/java.png) no-repeat;
    background-size: contain;
    background-position: right;
    align-content: center;
    margin-right: 20px;
  }
  #logoCss {
    display: flex;
    background: url(media/css.png) no-repeat;
    background-size: contain;
    background-position: right;
    align-content: center;
    margin-right: 20px;
  }
  #logoJavaScript{
    display: flex;
    background: url(media/logo.javascript.png) no-repeat;
    background-size: contain;
    background-position: right;
    align-content: center;
    margin-right: 20px;
  }


  #title {
    display: flex;
  }
  @media screen and (max-width: 1205px){
    .grid{
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 3.5vw;
      margin: 110px 0 0 0;
  }
  }
  @media screen and (max-width: 850px){
    .grid{
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 3.5vw;
      margin: 100px 0 0 0;
  }
  }
  @media screen and (max-width: 600px){
    .grid{
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 3.5vw;
      margin: 50px 0 0 0;
    }
  }
  /*Intro Part*/
  .artIntro h2{
    font-size: 3vw;
    padding: 10px 0;
  }
  .artIntro p {
    text-indent: 3%;
    margin: 10px 0;
    font-size: 1.3vw;
    text-align: justify;
  }
  .artIntro p:nth-last-of-type(1){
    text-indent: 0%;
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
}
main{
  margin: 0 5px 10px 0;
}
main h2{
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 3vw;
}
.navSommaire > h2{
  justify-content: center;
}
.docSection h2,
.formationSection h2,
.exoSection,
.tutoSection
{
  margin: 40px 0 0 0;
}
main h2 img {
  margin: 20px 20px 20px 0;
  border-radius: 10px;

}
.docSection h3,
.docSection a,
.formationSection h3,
.formationSection a,
.exoSection h3,
.exoSection a,
.tutoSection h3,
.tutoSection a{
  color: black;
  text-decoration: none;
  transition: color .5s;
  padding: 0px 10px;
  text-shadow: 0px 5px 10px #e2b6312d;
}
.docSection h3:hover,
.docSection a:hover,
.formationSection h3:hover,
.formationSection a:hover,
.exoSection h3:hover,
.exoSection a:hover,
.tutoSection h3:hover,
.tutoSection a:hover{
  color: #E2B731;
}
.borderSection{
  margin: 0;
  background: #EEEEFC;
  border-radius: 10px;
}
.borderSection p {
  padding: 0 10px 5px 10px;
  text-align: justify;
  text-indent: 3%;
}
@media screen and (max-width: 1205px){
  main{
    margin: 20px 30px;
  }
  .docSection h2,
  .formationSection h2,
  .exoSection,
  .tutoSection{
    font-size: 4vw;
    justify-content: center;
    margin: 0;
  }
  .artIntro p, p{
    font-size: 3vw;
  }
}


