.imgFrontBack {
    width: 20rem;
    height: 20rem;
}

.sommaireUl {
    margin: 1rem;
}

.sommaireFrontEnd {
    display: inline;
    margin: 0.5rem;

}

section {
    text-align: center;
    margin : 3rem;
}

h1 {
    font-size: 5em;
}
